<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <title>Document</title>
</head>
<body>
<footer>
    <div class="footer-content">

        <nav>
            <div class="All">
           <div class="memberM">
            <div class="member">
                <p class="name">조장 박창규</p>
                <ul>
                    <li>
                        <span>엔티티 구성</span>
                    </li>
                    <li>
                        <span>유저 , 시큐리티 백엔드</span>
                    </li>
                    <li>
                        <span>로그인 관련기능 백엔드 구현</span>
                    </li>
                    <li>
                        <span>리스트페이지 서브</span>
                    </li>
                    <li>
                        <span>관리자페이지 백엔드 구현</span>
                    </li>
                    <li>
                        <span>메인페이지 백엔드</span>
                    </li>
                </ul>
            </div>

            <div class="member">
                <p class="name">부조장 고우영</p>
                <ul>
                    <li>
                        <span>메인페이지 프론트엔드</span>
                    </li>
                    <li>
                        <span>관리자페이지 프론트엔드</span>
                    </li>
                    <li>
                        <span>마이페이지 프론트엔드</span>
                    </li>
                    <li>
                        <span>공지사항 글쓰기/디테일 프론트엔드</span>
                    </li>
                    <li>
                        <span>리스트/마켓 페이지 프론트엔드</span>
                    </li>
                    <li>
                        <span>공통 템플릿 (상단바, 하단바) 프론트엔드 </span>
                    </li>
                </ul>
            </div>
            <div class="member" id="Oh">
                <p class="name">조원 오택주</p>
                <ul>
                    <li>
                        <span>로그인폼 프론트엔드</span>
                    </li>
                    <li>
                        <span>게시글 작성폼 백엔드/프론트앤드</span>
                    </li>
                    <li>
                        <span>회원가입 약관 폼 프론트앤드</span>
                    </li>
                    <li>
                        <span>리스트페이지 메인 백엔드</span>
                    </li>
                    <li>
                        <span>댓글 구현 메인</span>
                    </li>
                    <li>
                        <span>마이페이지 백엔드</span>
                    </li>
                    <li>
                        <span>게시글 상세페이지 서브</span>
                    </li>
                </ul>
            </div><div class="SNSicon">
               <div class="SnsIcon">소셜 미디어</div>
               <a href='https://ko-kr.facebook.com/' target='_blank'>
                   <img src='https://ifh.cc/g/TfkVVF.png' border='0'>
               </a>
               <a href='https://www.instagram.com/' target='_blank'>
                   <img src='https://ifh.cc/g/rdCB7D.png' border='0'>
               </a>
               <a href='https://www.naver.com/' target='_blank'>
                   <img src='https://ifh.cc/g/cPKtHJ.png' border='0'>
               </a>
               <a href='https://www.kakaocorp.com/page/' target='_blank'>
                   <img src='https://ifh.cc/g/0nVhT4.png' border='0'>
               </a>
           </div>
           </div>
            <div class="memberW">
            <div class="member">
                <p class="name">조원 송주현</p>
                <ul>
                    <li>
                        <span>회원가입폼 프론트엔드 </span>
                    </li>
                    <li>
                        <span>댓글 구현 서브</span>
                    </li>
                    <li>
                        <span>게시글 상세 페이지 프론트엔드.백엔드구현(추천)</span>
                    </li>
                    <li>
                        <span>마켓 상세 페이지 프론트엔드.백엔드구현(찜)</span>
                    </li>
                    <li>
                        <span>전체 디자인 서브(로고, 퍼블리싱)</span>
                    </li>
                    <li>
                        <span>스티키 플로팅 배너</span>
                    </li>
                </ul>
            </div>
            <div class="member">
                <p class="name">조원 나현아</p>
                <ul>
                    <li>
                        <span>공지사항페이지 프론트엔드</span>
                    </li>
                    <li>
                        <span>아이디, 비밀번호 찾기 프론트엔드</span>
                    </li>
                    <li>
                        <span> Ui/ux 피그마 작성</span>
                    </li>
                </ul>
            </div>
            </div>
            </div>
        </nav>
        <br>
        <hr>
        <div class="footerTT">ToolTool
            <div class="footerTTComet">Camping equipment
                recommendations
                and reviews.</div>
        </div>
    </div>
</footer>
</body>
</html>
