@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
div,
nav {
  box-sizing: border-box;
}
span,
p,
a, h1 {
  font-family: "Noto Sans KR", sans-serif;
  color: black;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
header {
  width: 1440px;
  height: 50px;
  margin: 0 auto;
}
header > .menu {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}
header > .menu > .admin_menu {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
header > .menu > .admin_menu > ul {
  display: flex;
}
header > .menu > .admin_menu > ul > li {
  display: flex;
  padding: 10px;
  align-items: center;
}
header > .menu > .admin_menu > ul > li:hover > a {
  color: #ff6c00;
}
header > .menu > .admin_menu > ul > li > button {
  background-color: black;
  padding: 0;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
header > .menu > .admin_menu > ul > li > button:hover {
  background-color: #ff6c00;
}
.top-bar > h1 {
  text-align: left;
}
.top-bar > .button {
  text-align: right;
}
.top-bar > .button > button {
  background-color: black;
  padding: 0;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
.top-bar > .button > button:hover {
  background-color: #ff6c00;
}
.content-section .checkbox {
  width: 5%;
}
.content-section .number {
  width: 10%;
}
.content-section .title {
  width: 50%;
}
.content-section .nickname {
  width: 10%;
}
.content-section .date {
  width: 20%;
}
.content-section .inquiry{
  width: 5%;
}

table {
  width: 1440px;
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: collapse;
}

td {
  border: 1px solid;
}
th {
  border-bottom: 3px double;
}
th,
td {
  padding: 8px;
  text-align: center;
}

th {
  color: black;
}
