.My-3{
  display:flex;
  width:70%;
  margin: 150px auto 200px;
  justify-content:space-between;
}

.sign_In{
 flex: 1 1 0;
}

form>div{
  font-size:20px;
}

.signin{
  text-align:center;
  color : black;
}

.signment{
  font-size:10px;
  text-align:center;
  color:gray;
  margin-top:0;
}

.form-control{
  width:100%;
  height:40px;
  border-radius:10px;
  margin-top:20px;
  outline:none;
}

.btnPrimary{
  background: #000;
  color:white;
  border-radius:10px;
  border:none;
  font-size:20px;
}

.btnPrimary:hover{
  background: #ff6c00;
  color:#fff;
}

.alertDanger{
  text-align:center;
  color: #ff6c00;
}

.signComent > p{
  font-size:18px;
  font-weight:light;
  color:#000;
}

.My-3 hr{
  border:2px solid #000;
  margin-bottom:40px;
  width:100%;
}

.signInput{
  display:flex;
  flex-direction:column;
  margin-top: 60px;
}

.signInput .form-control{
  border-radius:0px;
  border-style:none;
  border-bottom:2px solid #000;
  width:100%;

}

.signupSummitBtn {
 text-align:center;
}

.signupSummitBtn .btnPrimary{
  background: #000;
  width : 100%;
  padding:15px;
  border-radius:10px;
  margin-top:20px;
  color:#fff;
  font-size:20px;
}

.signupSummitBtn .btnPrimary:hover{
  background: #ff6c00;
}


.signupBtnArea .btnPrimary{
  width:100%;
  padding:15px 0;
}

.signComent .signUpment{
  text-align:center;
}

.signwrap{
  margin-top:93px;
  display:flex;
  flex-direction:column;
  gap:15px 0;
}

.My-3 > div{
   width:47%;
}