@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}
div,
nav {
  box-sizing: border-box;
}
span,
p {
  font-family: "NanumBarunGothic", sans-serif;
  color: #73703f;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*banner라인*/
.banner__bar {
  width: 1440px;
  height: 288px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}
#video {
  width: 100%;
  height: 100%;
}
/*name*/
.mainpage_name {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.mainpage_name > span {
  font-size: 25px;
  color: black;
}
/*review-content*/
.rm_content {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}
.rm_content > ul {
  display: flex;
  justify-content: space-between;
}
.rm_content .rm_content_img {
  position: relative;
}
.rm_content > ul > li > .rm_content_img > a > .rm_content_main_img {
  width: 360px;
  height: 330px;
  margin-left: 10px;
  margin-right: 20px;
}
/*text_box*/
.text_box {
  display: flex;
}
.text_box span {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.text_box_name {
  margin-top: 10px;
  margin-left: 10px;
}
.text_box_name > span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.text_box_tag {
  margin-top: 10px;
}
.text_box_tag > span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ff6c00;
}
.text_box_2 > span,
.text_box_name_2 > span,
.text_box_tag_2 > span {
  margin-left: 40px;
}
