/*banner라인*/
.banner__bar {
  width: 1520px;
  height: 800px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}
#video {
  width: 100%;
  height: 100%;
}
/*main-menu-categori*/
.main_categori {
   width: 1200px;
   margin: 0 auto;
   height: 100px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
 }
 .main_categori > .main_categori_menu > ul {
   display: flex;
   justify-content: center;
 }
 .main_categori > .main_categori_menu > ul > li {
   margin-left: 30px;
 }
.main_categori > .main_categori_menu > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* 텍스트 가운데 정렬 */
}
.main_categori > .main_categori_menu > ul > li > a > button > img {
  width: 230px;
  height: 100px;
}
 .main_categori > .main_categori_menu > ul > li > a > span {
   text-align: center; /* 텍스트 가운데 정렬 */
   color: black;
   margin-top: 5px; /* 이미지와 텍스트 사이에 공간을 만들기 위한 margin-top 추가 */
 }
/*name*/
.mainpage_name {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
  margin-top: 80px;
  display: flex;
  align-items: center;
}
.mainpage_name > span {
  font-size: 25px;
  color: black;
}
/*review-content*/
.rm_content {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}
.rm_content > ul {
  display: flex;
  justify-content: space-between;
}
.rm_content .rm_content_img {
  position: relative;
}
.rm_content > ul > li > .rm_content_img > a > .rm_content_main_img {
  width: 360px;
  height: 330px;
  margin-left: 10px;
  margin-right: 20px;
}
/*text_box*/
.text_box {
  display: flex;
}
.text_box span {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.text_box_name {
  margin-top: 10px;
  margin-left: 10px;
}
.text_box_name > span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.text_box_tag {
  margin-top: 10px;
}
.text_box_tag > span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ff6c00;
}
.text_box_2 > span,
.text_box_name_2 > span,
.text_box_tag_2 > span {
  margin-left: 40px;
}
