/*second_box*/
.my_page {
  width: 1440px;
  padding: 30px;
  padding-left: 0;
  margin: 0 auto;
}
/*profile_img*/
.my_page_second_bar {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.profile_img {
  position: relative;
}

.profile_img > .profile_img_1 {
  width: 210px; /* 프로필 사진의 크기를 조정 */
  height: 210px;
  border-radius: 50%; /* 사진을 동그랗게 보이도록 설정 */
}

.change-icon {
  position: absolute;
  border-radius: 30%;
  bottom: 0;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: #ff6c00 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-icon {
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
}
.change-icon > span {
    display: block;
    font-size: 20px;
    width: 20px;
}

/*profile_nickname*/
.my_page_second_bar > .profile_nickname {
  margin-left: 50px;
  padding: 10px;
}
.profile_nickname > .nickname {
  display: flex;
  margin-right: 50px;
}
.profile_nickname > .nickname .nick {
  font-size: 50px;
  margin-right: 20px;
  font-weight: bold;
  color: #ff6c00;
}
.profile_nickname > .nickname span {
    font-weight: bold;
    color: black;
}
/*profile_mark*/
.profile_mark {
  display: flex;
  margin: 70px;
  height: 100%;
  align-content: center;
}

.profile_mark > .mark_total_review {
  display: flex;
  align-items: center;
}
.profile_mark a span{
  font-size: 15px;
  color: black;
}
.profile_mark .list-1 {
 margin-top: 10px;
 margin-bottom: 10px;
}
.profile_mark span {
    color: black;
}
.profile_mark .count {
    color: #ff6c00;
    font-size: 30px;
    font-weight: bold;
}
.profile_mark > div > ul .note-img {
    font-size: 30px;
}


/*flex_box*/
.flex_box {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}
/*menu_box*/
.flex_box > .menu_box .my_page {
  font-size: 50px;
  color: black;
  background-color: transparent;
}
.flex_box > .menu_box {
  flex-grow: 1;
}
.flex_box > .menu_box > ul > li > a:hover > span {
 color: #ff6c00;
}
.menu_box li {
  margin-bottom: 30px;
}
.menu_box li span {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
/*content_box*/
.content_box {
  flex-grow: 4;
  text-align: center;
}
.content_box > .page .title {
  text-align: start;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_box > .page .underline {
  flex-grow: 4;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.content_box > .menu_information .form_group {
  margin-bottom: 20px;
  display: flex;
  letter-spacing :-1px;
}
.content_box .underline {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
label {
  width: 150px;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 60%;
  padding: 10px;
  border: none;
}

.content_box button {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* 가운데 간격 설정 */
}

.content_box button:last-child {
  margin-right: 0; /* 마지막 버튼의 오른쪽 간격 제거 */
}

.content_box button:hover {
  background-color: #ff6c00;
}

.content_box button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.page {
  display: none;
}
.page-1 {
  display: block;
}
table {
  width: 1000px;
  border-collapse: collapse;
  margin-top:60px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: black;
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  font-weight: bold;
}

.number,
.date {
  width: 100px;
}
.content {
  font-size: 16px;
  width: 700px;
}
.page-list{
list-style:none;
text-align:row;
}

.page-list>li{
display:imline-block;
}

.page-item{
display:inline-block;
list-style:none;
}

.disabled{
display:inline-block;
}
.page-link > a {
    color: black;
}
