body {
   font-family: "MADE TOMMY", sans-serif;
   background: #fff;
 }
 
 /* 상단 네비바 */
 div,
nav {
  box-sizing: border-box;
}
.review{
  font-family: "MADE TOMMY", sans-serif;
  color: #a5a773;
}
.market{
  font-family: "MADE TOMMY", sans-serif;
  color: #a5a773;
}
.notice{
  font-family: "MADE TOMMY", sans-serif;
  color: #a5a773;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.top__bar > .top__bar_menu {
  width: 1320px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.top__bar > .top__bar_menu > .logo_box {
  flex-grow: 1;
}
.top__bar > .top__bar_menu > div > ul > li > a > button > img {
  width: 300px;
  height: 74px;
}
.top__bar > .top__bar_menu > .main_menu {
  display: flex;
  flex-grow: 4;
}
.top__bar > .top__bar_menu > .main_menu > .main_menu_ul {
  display: flex;
}
.top__bar > .top__bar_menu > .main_menu > .main_menu_ul > li:hover > a > span {
  color: #a5a773;
}
.top__bar > .top__bar_menu > .main_menu > .main_menu_ul > li > a > span {
  font-size: 30px;
  line-height: 32px;
  margin: 20px;
}
.top__bar > .top__bar_menu > .signLine {
  flex-grow: 2;
  height: 74px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.top__bar > .top__bar_menu > .signLine > div {
  margin-left: 10px;
  margin-right: 10px;
}
.top__bar > .top__bar_menu > .signLine > div > a > button > img {
  width: 46px;
  height: 55px;
}

/*banner라인*/
.banner__bar {
  width: 1300px;
  height: 288px;
  background-color: #a5a773;
  margin: 0 auto;
  margin-top: 20px;
}

.heading{
  text-align:center;
}

.headingTop > h1{
  text-align:center;
  font-size:4rem;
}

.signupFormPeice{

  width:600px;
  margin: 0 auto;
}

.signupForm .form-group.hasError input {
  border-color: #ff6c00 !important;
}

.signupForm .form-group.hasError label {
  color: #ff6c00 !important;
}

.signupForm label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "MADE TOMMY", sans-serif;
  transform: translateY(40px);
  transition: all 0.4s;
  cursor: text;
  z-index: -1;
}

.signupInputform{
  width:300px;
  margin: 0 auto;
}

.signupForm label.active {
  transform: translateY(10px);
  font-size: 10px;
}

.signupForm label.fontSwitch {
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
}

.signupForm input:not([type=submit]) {
  background: none;
  outline: none;
  border: none;
  display: block;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  color: #444;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}

.signupForm input:not([type=submit]).hasError {
  border-color: #ff6c00;
}

.signupForm span.error {
  color: #ff6c00;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  bottom: -20px;
  right: 0;
  display: none;
}

.signupForm input[type=password] {
  color: #ff6c00;
}

.signupForm .CTA {
  margin-top: 30px;
}

.signupForm .CTA input {
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 20px;
  background: #ff6c00;
  color: #fff;
  border-radius: 30px;
  margin-right: 20px;
  border: none;
  font-family: "Montserrat", sans-serif;
  margin-bottom:30px;
}

.form-group .emailCF{
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 15px;
  background: #fff;
  color: #ff6c00;
  border-radius: 30px;
  margin-right: 20px;
  border: 1px solid #ff6c00;
  font-family: "Montserrat", sans-serif;
  margin-top:13px;
  margin-bottom:20px;
}

.signupForm .CTA a.switch {
  font-size: 13px;
}

/* footer */
  .footer_container{
  background: #000;
  text-align:center;
  margin: 0 auto;
  margin-top: 200px;
  }

 .footer {
  background-color: #555;
  padding: 20px;
  text-align:center;
  margin: 0 auto;
}


.footer-content {
  max-width: 800px;
  margin-left:500px;
  color:#fff;
}

.footer-content p {
  margin-bottom: 10px;
  text-decoration: none;

}

.footer-content nav a:hover {
  text-decoration: underline;
}

hr{
  border: 2px solid #ff6c00;
  width: 400px;
  margin-bottom:40px;
}
