<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/Admin.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>AdminPage</title>
</head>

<body>
<header>
    <div>
        <h1>관리자 페이지</h1>
    </div>
    <div class="menu">
        <div class="admin_menu">
            <ul>
                <li>
                    <a th:href="@{/admin/}" class="menu-link" data-section="notice-section">공지사항 관리</a>
                </li>
                <li>
                    <a th:href="@{/admin/review}" class="menu-link" data-section="review-section">리뷰 글 관리</a>
                </li>
                <li>
                    <a th:href="@{/admin/market}" class="menu-link" data-section="market-section">마켓 글 관리</a>
                </li>
                <li>
                    <a th:href="@{/admin/user}" class="menu-link" data-section="member-section">회원 관리</a>
                </li>
                <li>
                    <a th:href="@{/admin/admin}" class="menu-link" data-section="admin-section">관리자 관리</a>
                </li>
            </ul>
            <ul>
                <li>
                    <button type="button">
                        <a th:href="@{/}">메인페이지버튼</a>
                    </button>
                </li>
            </ul>
            <ul>
                <li>
                    <button type="button">
                        <a th:href="@{/user/logout}">로그아웃</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <section id="admin-section" class="content-section">
        <div class="top-bar">
            <h1>관리자 관리</h1>
        </div>
        <table>
            <thead>
            <tr>
                <th class="number">번호</th>
                <th class="id">아이디</th>
                <th class="nickname">닉네임</th>
                <th class="email">이메일</th>
                <th class="administrator">관리자권한회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="admin : ${adminList}">
                <td class="number" th:text="${admin.id}"></td>
                <td class="id" th:text="${admin.username}"></td>
                <td class="nickname" th:text="${admin.nickname}"></td>
                <td class="email" th:text="${admin.email}"></td>
                <td class="checkbox administrator">
                    <form th:action="@{/admin/minusAdminRole}" method="post">
                        <input type="hidden" name="id" th:value="${admin.id}"/> <!-- 수정된 부분 -->
                        <button type="submit" class="adminbutton">관리자 회수</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</header>
</body>
</html>