<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>툴툴</title>
    <link rel="stylesheet" href="/admin_login_form.css"/>
</head>
<body>
<!--메인페이지 버튼 -->
<div class="main-btn">
    <a th:href="@{/}">
        <button type="button">메인페이지 바로가기</button>
    </a>
</div>
<!--로그인폼-->
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/admin/login}" method="post">
        <div><h1 class="signin">툴툴 관리자 로그인</h1>
            <h3 class="signment">가입하신 관리자 아이디와 비밀번호를 입력해주세요. </h3>
            <h3 class="signment"> 아이디와 비밀번호는 관리자가 직접 생성합니다. </h3>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                관리자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="mb-3">
            <input type="text" name="username" id="username" class="form-control" placeholder="관리자 아이디">
        </div>
        <div class="mb-3">
            <input type="password" name="password" id="password" class="form-control" placeholder="관리자 비밀번호">
        </div>
        <button type="submit" class="btn btn-primary">SIGN -IN</button>
    </form>
</div>