<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/admin_review.css"/>
    <link rel="stylesheet" href="/layout/navbar.css"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>AdminPage</title>
</head>

<body>
<header>
    <div>
        <h1>관리자 페이지</h1>
    </div>
    <div class="menu">
        <div class="admin_menu">
            <ul>
                <li>
                    <a th:href="@{/admin/notice}" class="menu-link" data-section="notice-section">공지사항 관리</a>
                </li>
                <li>
                    <a th:href="@{/admin/review}" class="menu-link" data-section="review-section">리뷰 글 관리</a>
                </li>
                <li>
                    <a th:href="@{/admin/market}" class="menu-link" data-section="market-section">마켓 글 관리</a>
                </li>
                <li>
                    <a th:href="@{/admin/user}" class="menu-link" data-section="member-section">회원 관리</a>
                </li>
                <li>
                    <a th:href="@{/admin/admin}" class="menu-link" data-section="admin-section">관리자 관리</a>
                </li>
            </ul>
            <ul>
                <li>
                    <button type="button">
                        <a th:href="@{/}">메인페이지버튼</a>
                    </button>
                </li>
            </ul>
            <ul>
                <li>
                    <button type="button">
                        <a th:href="@{/user/logout}">로그아웃</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <section id="review-section" class="content-section">
        <div class="top-bar">
            <h1>리뷰 글 관리</h1>
            <div class="button">
                <button type="button">삭제</button>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th class="check_box"></th>
                <th class="number">글번호</th>
                <th class="title">제목</th>
                <th class="nickname">닉네임</th>
                <th class="date">날짜</th>
                <th class="inquiry">조회</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articleList}">
                <td class="checkbox">
                    <input type="checkbox" name="delete-checkbox" value="1"/>
                </td>
                <td class="number" th:text="${article.id}"></td>
                <td class="title">
                    <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.subject}"></a>
                </td>
                <td class="nickname" th:text="${article.author}"></td>
                <td class="date" th:text="${article.createDate}"></td>
                <td class="inquiry" th:text="${article.viewCount}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</header>
</body>

</html>