<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/article_list.css"/>
    <title>ListlPage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
<!--detail-topbar-->
<div class="detail_top__bar">
    <nav class="detail_top__bar_menu">
        <div class="logo_box">
            <ul>
                <li>
                    <a href="http://localhost:8080/">
                        <button type="button" class="logo_button">
                            <img src="img/230605_툴툴_로고 복사 1.png"/>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main_menu">
            <ul class="main_menu_ul">
                <li>
                    <a href="http://localhost:8080/article/list">
                        <span>Review</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8080/Market/list">
                        <span>Market</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8080/Notice/list">
                        <span>Notice</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="signLine">
            <div class="signIn" th:if="${isAuthenticated}">
                <a href="http://localhost:8080/user/logout">
                    <button type="button" class="signIn_button">
                        <img src="/img/signOut.png" class="signIn_img"/>
                    </button>
                </a>
            </div>
            <div class="signIn" th:unless="${isAuthenticated}">
                <a href="http://localhost:8080/user/login" role="button">
                    <button type="button" class="signIn_button">
                        <img src="/img/signIn.png" class="signIn_img"/>
                    </button>
                </a>
            </div>
            <div class="signUp">
                <a href="user/signup_manual">
                    <button type="button" class="signUp_button">
                        <img src="/img/sing up.png" class="signUp_img"/>
                    </button>
                </a>
            </div>
        </div>
    </nav>
</div>
<div class="sorting">
    <div class="total_count">
        <p>총 <span th:text="${articleCount}"></span>건</p>
    </div>
    <div class="sorting_menu">
        <ul>
            <li>
                <a href="#">
                    <span>최신순</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>추천순</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>별점순</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>낮은금액별</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>높은금액별</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="flex_box">
    <div class="categori_accordion">
        <!--write_box-->
        <div class="write_box">
            <button type="button">
                <a href="#">
                    <img src="https://i.postimg.cc/13HmB7VP/Vector.png"/>
                    <span>글쓰기</span>
                </a>
            </button>
        </div>
        <!--search_box-->
        <div class="search_box">
            <a href="#">
                <input type="text" placeholder="검색" id="searchBox">
                <button type="button" class="search_button">
                    <img src="https://i.postimg.cc/tJ4CnLzY/Vector2.png">
                </button>
            </a>
        </div>
        <!--dotted-->
        <div class="underline"></div>
        <!--categori_accordion-->
        <div class="accordion">
            <div class="accordion-header">카테고리</div>
            <div class="accordion-content">
                <ul>
                    <li class="accordion">
                        <div class="accordion-header">금액범위</div>
                        <div class="accordion-content">
                            <ul class="accordion">
                                <li>
                                    <input type="checkbox" id="choice-1-1-1">
                                    <label for="choice-1-1-1">~15만원</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-1-2">
                                    <label for="choice-1-1-2">15만원 ~ 30만원</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-1-3">
                                    <label for="choice-1-1-3">30만원 ~ 50만원</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-1-4">
                                    <label for="choice-1-1-4">그 외</label>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion">
                        <div class="accordion-header">계절별</div>
                        <div class="accordion-content">
                            <ul class="accordion">
                                <li>
                                    <input type="checkbox" id="choice-1-2-1">
                                    <label for="choice-1-2-1">사계</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-2-2">
                                    <label for="choice-1-2-2">하계</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-2-3">
                                    <label for="choice-1-2-3">동계</label>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion">
                        <div class="accordion-header">종류별</div>
                        <div class="accordion-content">
                            <ul class="accordion">
                                <li>
                                    <input type="checkbox" id="choice-1-3-1">
                                    <label for="choice-1-3-1">텐트/타프</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-3-2">
                                    <label for="choice-1-3-2">테이블</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-3-3">
                                    <label for="choice-1-3-3">의자</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-3-4">
                                    <label for="choice-1-3-4">랜턴</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-3-5">
                                    <label for="choice-1-3-5">조리도구</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="choice-1-3-6">
                                    <label for="choice-1-3-6">기타</label>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content review_board_page">
        <!--1차이미지-->
        <div class="review_board_page_1">
            <ul>
                <li th:each="article, stat : ${paging}" th:if="${stat.index < 9}">
                    <nav class="item review_board_img">
                        <a th:href="@{|/article/detail/${article.id}|}">
                            <img src="https://i.postimg.cc/m23RYKm6/product-box1.png" class="review_board_main_img"/>
                        </a>
                        <img src="https://i.postimg.cc/9FFnrSqh/image.png" class="heart"/>
                        <div class="review_board_text_box">
                            <span>답글수 <span th:if="${#lists.size(article.answerList) > 0}"
                                            th:text="${#lists.size(article.answerList)}">
                                        </span></span>
                            <span>추천수 <span th:if="${#lists.size(article.voter) > 0}"
                                            th:text="${#lists.size(article.voter)}"></span></span>
                        </div>
                        <div class="text_box_name text_box_name_1">
                            <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.subject}"></a>
                        </div>
                        <div class="review_board_text_box_tag">
                            <span>#</span>
                        </div>
                    </nav>
                </li>
            </ul>
        </div>
        <div class="pagination-1">
            <div class="pagination">
                <ul class="page-list">
                    <li th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="${paging.hasPrevious} ? @{|?page=${paging.number-1}|} : @{|?page=1|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                        th:if="${page >= paging.number-3 and page <= paging.number+3}"
                        th:classappend="${page == paging.number+1} ? 'active'"
                        class="page-item">
                        <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </li>
                    <li th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link"
                           th:href="${paging.hasNext} ? @{|?page=${paging.number+1}|} : @{|?page=${paging.totalPages}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<footer>
    <div class="footer-content">
        <p>&copy; 2023 Your Website. All rights reserved.</p>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </div>
</footer>
</body>
<script>
      $(document).ready(function () {
        $(".heart").click(function () {
          var currentSrc = $(this).attr("src");
          var newSrc = "";

          if (currentSrc === "https://i.postimg.cc/9FFnrSqh/image.png") {
            newSrc = "https://i.postimg.cc/43GKgpk2/1.png";
          } else {
            newSrc = "https://i.postimg.cc/9FFnrSqh/image.png";
          }
          $(this).attr("src", newSrc);
        });
      });



















</script>
<script>
      $(document).ready(function () {
  $(".accordion-header").click(function () {
    $(this).toggleClass("active");
    $(this).next(".accordion-content").slideToggle();
  });
  // 검색 버튼 클릭 이벤트 처리
  $("#searchButton").click(function () {
    var searchText = $("#searchBox").val().toLowerCase();
    $(".accordion").hide();

    $(".accordion").each(function () {
      var headerText = $(this).find(".accordion-header").text().toLowerCase();
      var nestedHeaderText = $(this)
        .find(".nested-accordion .accordion-header")
        .text()
        .toLowerCase();

      if (
        headerText.includes(searchText) ||
        nestedHeaderText.includes(searchText)
      ) {
        $(this).show();
        $(this).find(".nested-accordion").show();
      }
    });
  });
});



















</script>
<script>
      var itemsPerPage = 9;
    var $items = $('.item');
    var totalPages = Math.ceil($items.length / itemsPerPage);
    var currentPage = 1;

    function showPage(page) {
      var startIndex = (page - 1) * itemsPerPage;
      var endIndex = startIndex + itemsPerPage;

      $items.hide();
      $items.slice(startIndex, endIndex).show();

      var pageNumbers = '';
      for (var i = 1; i <= totalPages; i++) {
        if (i === page) {
          pageNumbers += '<a href="#" class="page-number active">' + i + '</a>';
        } else {
          pageNumbers += '<a href="#" class="page-number">' + i + '</a>';
        }
      }
      $('.page-numbers').html(pageNumbers);
    }

    function navigateToPreviousPage() {
      if (currentPage > 1) {
        currentPage--;
        showPage(currentPage);
      }
    }

    function navigateToNextPage() {
      if (currentPage < totalPages) {
        currentPage++;
        showPage(currentPage);
      }
    }

    $('.previous').on('click', function(e) {
      e.preventDefault();
      navigateToPreviousPage();
    });

    $('.next').on('click', function(e) {
      e.preventDefault();
      navigateToNextPage();
    });

    $(document).on('click', '.page-number', function(e) {
      e.preventDefault();
      var page = parseInt($(this).text());
      showPage(page);
    });

    showPage(currentPage);


















</script>
</html>
