<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/article_detail.css"/>
    <link rel="stylesheet" href="/layout/navbar_no.css"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <meta name="_csrf_header" th:content="${_csrf?.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <script src="https://kit.fontawesome.com/af580f77b6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>툴툴</title>
</head>

<body>
<!-- 네비바 시작 -->
<div th:replace="layout/navbar_no.html"></div>
<!-- 네비바 끝 -->

<!-- 리뷰 박스 시작 -->
<div class="Review_form">
    <div class="Article_content_Box">

        <div class="article_header">
            <div class="articlenum">
                <span>no.</span>
                <span th:text="${article.id}" class="articleNum" id="articleId">123</span>
            </div>
            <div class="modifyRemove">
                <a th:href="@{|/article/modify/${article.id}|}"
                   sec:authorize="isAuthenticated()"
                   th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
                >
                    <button class="modify">수정</button>
                </a>
                <a href="javascript:void(0);" th:data-uri="@{|/article/delete/${article.id}|}"
                   sec:authorize="isAuthenticated()" class="delete btn btn-sm btn-outline-secondary"
                   th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
                >
                    <button class="remove">삭제</button>
                </a>
            </div>

            <div class="article_title">
                <p th:text="${article.subject}" class="article_title">헬리녹스 의자리뷰</p>
            </div>
            <hr>
            <div class="userInfoform">
                <div class="userInfo">
                    <div class="userPhoto"></div>
                    <div class="profile_area">
                        <div class="profile_info">
                            <span th:if="${article.author != null}" th:text="${article.author.nickname}"
                                  class="nick"></span>
                        </div>
                    </div>
                    <div class="article_info">
                        <div class="createtime">
                            <span class="create">작성시간</span>
                            <span th:text="${article.createDate}" class="create_time"></span>
                        </div>
                        <div class="viewcount">
                            <span class="count">조회수 </span>
                            <span th:text="${article.viewCount}" class="count"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gradeOrhashtag">
            <div class="grade">
                <span class="user_grade">사용자 총 평점</span>
                <strong th:text="${article.starScore}" class="user_grade_point">5</strong>
            </div>
            <br>
            <div class="grade">
                <span class="user_grade">구입가격</span>
                <strong th:text="${article.Price}" class="user_grade_point">000,000</strong>
                <span>원</span>
            </div>

            <div class="hashtag">
                <a class="hashtaglink" href="#">
                    <button th:text="${article.type}" type="button" class="category1">의자</button>
                </a>
                <a class="hashtaglink" href="#">
                    <button th:text="${article.season}" type="button" class="category1">사계절</button>
                </a>
            </div>

        </div>
        <div class="article_container">
            <div class="SaleInfo">
                <div class="product_section">
                    <div class="product_img" th:each="filepath : ${article.filepaths}">
                        <img th:src="${filepath}" width="500" height="500" class="review_board_main_img"/>
                    </div>
                    <div class=""></div>
                </div>
            </div>
            <div class="content_form">
                <div class="content_view">
                    <p th:text="${article.content}" class="content_write"></p>
                    <div class="icon_box">
                        <div class="iconLine">
                            <div class="like">
                                <a href="#" role="button" class="like_heart">
                                    <i class="fa-regular fa-thumbs-up" style="color: #000000;"></i>
                                </a>

                                <em class="u_ico _icon"></em>
                                <span class="u_txt _label">&nbsp;추천</span>
                                <strong th:text="${article.likeCount}" id="checkedLikeCount"
                                        class="u_cnt _count"></strong>
                                <i class="fa-regular fa-message" style="color: #73703f;"></i>

                                <a href="#" role="button" aria-pressed="true" class="button_comment"><span
                                        class="icon_area"></span>
                                    댓글&nbsp;<strong th:text="|${#lists.size(article.answerList)}" class="num"></strong>
                                </a>
                            </div>

                            <div class="replyBox">
                                <div th:each="answer : ${article.answerList}" class="answerbox">
                                    <!-- 댓글 닉네임   -->
                                    <div class="answerNick">
                                        <span th:if="${answer.author != null}" th:text="${answer.author.nickname}"
                                              class="nick">닉네임</span>
                                    </div>
                                    <!-- 댓글 닉네임 끝 -->
                                    <!-- 댓글내용 -->
                                    <div class="answer">
                                        <ul>
                                            <li th:text="${answer.content}"></li>
                                        </ul>
                                    </div>
                                    <!--  댓글내용 끝  -->
                                    <!-- 댓글 하단바   -->
                                    <div class="answerCreateBox">
                                        <div class="answerCreateDate">
                                            <span>작성일:</span>
                                            <span th:text="${answer.createDate}"></span>
                                            <!--  수정/삭제버튼 -->
                                        </div>
                                        <div class="answerModifyRemove">
                                            <a th:href="@{|/answer/modify/${answer.id}|}"
                                               sec:authorize="isAuthenticated()"
                                               th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                                               class="answermodify_btn">
                                                <button type="button" class="answermodify_btn">수정</button>
                                            </a>
                                            <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                                               class="delete btn btn-sm btn-outline-secondary"
                                               sec:authorize="isAuthenticated()"
                                               th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                                            >
                                                <button type="button" class="answerremove_btn">삭제</button>
                                            </a>
                                            <!--  수정/삭제버튼 끝 -->
                                        </div>
                                    </div>

                                    <!-- 댓글 하단바 끝   -->
                                </div>

                                <div class="formbox">
                                    <form th:action="@{|/answer/create/${article.id}|}" th:object="${answerForm}"
                                          method="post" class="formboxform">

                                        <textarea name="content" id="content" rows="10"
                                                  placeholder="내용을 입력해 주세요"></textarea>
                                        <input class="reply_summit" type="submit" value="답변등록">

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 리뷰 박스 끝 -->

        <!--footer-->

    </div>
    <footer th:replace="layout/footer.html"></footer>
</div>
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

    /*<![CDATA[*/
    var likeCount = [[${#lists.size(article.voter)}]]
    var articleId = [[${article.id}]]
    var header = $("meta[name='_csrf_header']").attr('content');
    var token = $("meta[name='_csrf']").attr('content');

    var checkedLike = [[${checkedLike}]]

   if (checkedLike) {
    $('.fa-thumbs-up').removeClass('fa-regular')
    $('fa-thumbs-up').addClass('fa-solid')
    $('fa-thumbs-up').css('color','#ff6c00') //눌렀을때 색 바꾸기 css
   }

    $('.like_heart').on('click', function(e){
        e.preventDefault()

        // ajax 통신
        $.ajax({
            type : "POST",            // HTTP method type(GET, POST) 형식이다.
            url : "/article/vote/" + articleId,      // 컨트롤러에서 대기중인 URL 주소이다.
            data: 'json',
            beforeSend: function(xhr){
                xhr.setRequestHeader(header, token);
            },
            success : function(res){
                if (res === -1) {
                    alert("추천을 누르시려면 로그인을 해주세요.")
                    location.href="/user/login"
                    return
                }

               if ($('.fa-thumbs-up').hasClass('fa-regular')) {
                $('.fa-thumbs-up').removeClass('fa-regular')
                $('.fa-thumbs-up').addClass('fa-solid')
                $('.fa-thumbs-up').css('color','#ff6c00') //눌렀을때 색 바꾸기 css
                $('#checkedLikeCount').text(res);
               } else {
                $('.fa-thumbs-up').addClass('fa-regular') //안채워져있을 때
                $('.fa-thumbs-up').removeClass('fa-solid') //눌렀을때 색 채우기 addClass
                $('.fa-thumbs-up').css('color','#ff6c00') //눌렀을때 색 바꾸기 css
                $('#checkedLikeCount').text(res);
               }
            },
            error : function(err){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                console.log(err)
            }
        })
    })



</script>
</body>
</html>