<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>회원가입</title>
</head>
<body>
<h2>회원가입</h2>

<!-- 회원가입 폼 -->
<form class="signup-form" th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div>
        <label for="username">사용자명:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required>
    </div>
    <div>
        <label for="password1">비밀번호:</label>
        <input type="password" id="password1" name="password1" th:field="*{password1}" required>
    </div>
    <div>
        <label for="password2">비밀번호 확인:</label>
        <input type="password" id="password2" name="password2" th:field="*{password2}" required>
    </div>
    <div>
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required>
    </div>
    <div>
        <button type="button" onclick="sendEmailConfirmation()">인증번호 전송</button>
    </div>
    <div>
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname" th:field="*{nickname}" required>
    </div>
    <div>
        <label for="mailKey">이메일 인증번호:</label>
        <input type="text" id="mailKey" name="mailKey" th:field="*{mailKey}" required>
    </div>
    <div>
        <input type="submit" value="회원가입">
    </div>
</form>
</body>
<script>
    function sendEmailConfirmation() {
        // 이메일 주소 가져오기
        var email = $("#email").val();

        // AJAX 요청 보내기
        $.ajax({
            url: "http://localhost:8080/mailCheck", // 이메일 인증번호를 보낼 서버의 URL
            method: "GET",
            data: {sm_email: email}, // 이메일 주소를 서버로 전달
            success: function(response) {
                console.log(response)
                alert("이메일 인증번호를 전송했습니다.");
            },
            error: function(xhr, status, error) {
                alert("이메일 인증번호 전송에 실패했습니다. 다시 시도해주세요.");
            }
        });
    }



</script>
</html>