<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>툴툴</title>
    <link rel="stylesheet" href="/MainPage.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/af580f77b6.js" crossorigin="anonymous"></script>
</head>
<body>
<!--top-bar라인-->
<div class="top__bar">
    <nav class="top__bar_menu">
        <div class="logo_box">
            <ul>
                <li>
                    <a href="http://localhost:8080/">
                        <button type="button" class="logo_button">
                            <img src="img/230605_툴툴_로고 복사 1.png"/>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main_menu">
            <ul class="main_menu_ul">
                <li>
                    <a href="http://localhost:8080/article/list">
                        <span>Review</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8080/market/list">
                        <span>Market</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8080/notice/list">
                        <span>Notice</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="signLine">
            <div class="signIn" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">
                <a href="http://localhost:8080/user/logout">
                    <button type="button" class="signIn_button">
                        <i class="fa-regular fa-right-to-bracket" style="color: #73703f;"></i>
                        <span>로그아웃</span>
                    </button>
                </a>
            </div>

            <div class="signIn" sec:authorize="isAnonymous()" th:href="@{/user/login}">
                <a href="http://localhost:8080/user/login">
                    <button type="button" class="signIn_button">
                        <i class="fa-solid fa-right-to-bracket" style="color: #73703f;"></i>
                        <span>로그인</span>
                    </button>
                </a>
            </div>

            <div class="signUp" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">
                <a href="http://localhost:8080/mypage">
                    <button type="button" class="signUp_button">
                        <img src="https://i.postimg.cc/wMXCkx2w/mypage.png" class="signUp_img"/>
                        <span>마이페이지</span>
                    </button>
                </a>
            </div>
            <div class="signUp"
                 th:if="${#authorization.expression('isAuthenticated() and (hasRole(''ADMIN'') or hasRole(''SUPER_ADMIN''))')}">
                <a href="http://localhost:8080/admin/">
                    <button type="button" class="signUp_button">
                        <img src="https://i.postimg.cc/vHzRgBcB/signup.png" class="signUp_img"/>
                        <span>관리자 페이지</span>
                    </button>
                </a>
            </div>
            <div class="signUp" sec:authorize="isAnonymous()" th:href="@{/user/login}">
                <a href="user/signup_menual">
                    <button type="button" class="signUp_button">
                        <img src="https://i.postimg.cc/vHzRgBcB/signup.png" class="signUp_img"/>
                        <span>회원가입</span>
                    </button>
                </a>
            </div>
        </div>
    </nav>
</div>
<!--banner라인-->
<div class="banner__bar">
    <a href="#">
        <img src="https://img.29cm.co.kr/next-brand/2022/10/20/c18eab7f7c9946b8af16d1f352dc0158_20221020194850.jpg"
             alt="배너"/>
    </a>
</div>
<!--categori라인-->
<div class="main_categori">
    <div class="main_categori_menu">
        <ul>
            <li>
                <a href="#">
                    <button type="button">
                        <img src="img/allicon 1.png" alt=""/>
                    </button>
                </a>
            </li>
            <li>
                <a href="#">
                    <button type="button">
                        <img src="img/종류별icon 1.png" alt=""/>
                    </button>
                </a>
            </li>
            <li>
                <a href="#">
                    <button type="button">
                        <img src="img/계절별icon 1.png" alt=""/>
                    </button>
                </a>
            </li>
            <li>
                <a href="#">
                    <button type="button">
                        <img src="img/price-tagicon 1.png" alt=""/>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--name-->
<div class="review_name mainpage_name">
    <span>리뷰</span>
</div>
<!--maincontent라인-->
<div class="rm_content review_content">
    <!--1차이미지-->
    <ul>
        <li th:each="article, stat : ${articleList}" th:if="${stat.index < 3}">
            <nav class="rm_content_img review_content_img review_content_1">
                <a th:href="@{|/article/detail/${article.id}|}">
                    <img
                            src="https://i.postimg.cc/m23RYKm6/product-box1.png"
                            class="rm_content_main_img review_main_img review_main_img_1"
                    />
                </a>
                <img src="https://i.postimg.cc/9FFnrSqh/image.png" class="heart"/>
                <div class="text_box .text_box_1">
                    <span>답글수 <span th:if="${#lists.size(article.answerList) >= 0}"
                                    th:text="${#lists.size(article.answerList)}">
                                        </span></span>
                    <span>추천수 <span th:if="${#lists.size(article.voter) >= 0}"
                                    th:text="${#lists.size(article.voter)}"></span></span>
                </div>
                <div class="text_box_name text_box_name_1">
                    <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.subject}"></a>
                </div>
                <div class="text_box_tag text_box_tag_1">
                    <span>#</span>
                </div>
            </nav>
        </li>
    </ul>
</div>
<div class="market_name mainpage_name">
    <span>장터</span>
</div>
<!--marketcontent라인-->
<div class="rm_content market_content">
    <!--1차이미지-->
    <ul>
        <li th:each="market, stat : ${marketList}" th:if="${stat.index < 3}">
            <nav class="rm_content_img review_content_img review_content_1">
                <a th:href="@{|/market/detail/${market.id}|}">
                    <img
                            src="https://i.postimg.cc/m23RYKm6/product-box1.png"
                            class="rm_content_main_img review_main_img review_main_img_1"
                    />
                </a>
                <img src="https://i.postimg.cc/9FFnrSqh/image.png" class="heart"/>
                <div class="text_box .text_box_1">
                    <!--                                        <span th:if="${#lists.size(market.answerList) > 0}"-->
                    <!--                                              th:text="${#lists.size(market.answerList)}"></span>-->
                    <span>관심수 <span>0</span></span>
                </div>
                <div class="text_box_name text_box_name_1">
                    <a th:href="@{|/market/detail/${market.id}|}" th:text="${market.subject}"></a>
                </div>
                <div class="text_box_tag text_box_tag_1">
                    <span>#</span>
                </div>
            </nav>
        </li>
    </ul>
</div>
<!--footer-->
<footer>
    <div class="footer-content">
        <p>&copy; 2023 Your Website. All rights reserved.</p>
        <nav>
            <a href="http://localhost:8080/kakao_login">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </div>
</footer>

</body>


<script>
      $(document).ready(function () {
        $(".heart").click(function () {
          var currentSrc = $(this).attr("src");
          var newSrc = "";

          if (currentSrc === "https://i.postimg.cc/9FFnrSqh/image.png") {
            newSrc = "https://i.postimg.cc/43GKgpk2/1.png";
          } else {
            newSrc = "https://i.postimg.cc/9FFnrSqh/image.png";
          }
          $(this).attr("src", newSrc);
        });
      });

















</script>


</html>