<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>툴툴</title>
    <link rel="stylesheet" href="/MainPage.css"/>
    <link rel="stylesheet" href="/layout/navbar.css"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/af580f77b6.js" crossorigin="anonymous"></script>
</head>
<body>
<!--top-bar라인-->
<div th:replace="layout/navbar.html"></div>
<!--banner라인-->
<div class="banner__bar">
    <video id="video" autoplay loop muted>
        <source src="/video/banner.mp4" type="video/mp4"/>
    </video>
</div>
<div class="main_categori">
    <div class="main_categori_menu">
        <ul>
            <li>
                <a th:href="@{/article/type_tent/sort}">
                    <button type="button">
                        <img src="https://i.postimg.cc/BbzhGs3d/image.png" alt=""/>
                    </button>
                    <span>텐트/타프</span>
                </a>
            </li>
            <li>
                <a th:href="@{/article/type_table/sort}">
                    <button type="button">
                        <img src="https://i.postimg.cc/mrZ6Mmmp/image.png" alt=""/>
                    </button>
                    <span>테이블</span>
                </a>
            </li>
            <li>
                <a th:href="@{/article/type_chair/sort}">
                    <button type="button">
                        <img src="https://i.postimg.cc/L8tVxjqd/image.png" alt=""/>
                    </button>
                    <span>의자</span>
                </a>
            </li>
            <li>
                <a th:href="@{/article/type_cook/sort}">
                    <button type="button">
                        <img src="https://i.postimg.cc/KzM7gLhs/image.png" alt=""/>
                    </button>
                    <span>조리도구</span>
                </a>
            </li>
            <li>
                <a th:href="@{/article/type_lanturn/sort}">
                    <button type="button">
                        <img src="https://i.postimg.cc/LXLfspjc/image.png" alt=""/>
                    </button>
                    <span>랜턴</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--name-->
<div class="review_name mainpage_name">
    <span>Review</span>
</div>
<!--maincontent라인-->
<div class="rm_content review_content">
    <!--1차이미지-->
    <ul>
        <li th:each="article, stat : ${articlePage}" th:if="${stat.index < 3}">
            <nav class="rm_content_img review_content_img review_content_1">
                <a th:href="@{|/article/detail/${article.id}|}" th:if="${not #lists.isEmpty(article.filepaths)}">
                    <img th:src="${article.filepaths[0]}"
                         class="rm_content_main_img review_main_img review_main_img_1"/>
                </a>
                <div class="text_box .text_box_1">
                    <span>답글수 <span th:if="${#lists.size(article.answerList) >= 0}"
                                    th:text="${#lists.size(article.answerList)}">
                                        </span></span>
                    <span>추천수 <span th:if="${#lists.size(article.voter) >= 0}"
                                    th:text="${#lists.size(article.voter)}"></span></span>
                </div>
                <div class="text_box_name text_box_name_1">
                    <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.subject}"></a>
                </div>
                <div class="text_box_tag text_box_tag_1">
                    <span>#</span>
                    <span th:text="${article.type}"></span>
                </div>
            </nav>
        </li>
    </ul>
</div>
<div class="market_name mainpage_name">
    <span>Market</span>
</div>
<!--marketcontent라인-->
<div class="rm_content market_content">
    <!--1차이미지-->
    <ul>
        <li th:each="market, stat : ${marketPage}" th:if="${stat.index < 3}">
            <nav class="rm_content_img review_content_img review_content_1">
                <a th:href="@{|/market/detail/${market.id}|}" th:if="${not #lists.isEmpty(market.filepaths)}">
                    <img th:src="${market.filepaths[0]}"
                         class="rm_content_main_img review_main_img review_main_img_1"
                    />
                </a>
                <div class="text_box .text_box_1">
                    <span>댓글수 <span th:if="${#lists.size(market.marketAnswerList) >= 0}"
                                    th:text="${#lists.size(market.marketAnswerList)}"></span>
                        </span>
                    <span>관심수 <span>0</span></span>
                </div>
                <div class="text_box_name text_box_name_1">
                    <a th:href="@{|/market/detail/${market.id}|}" th:text="${market.subject}"></a>
                </div>
                <div class="text_box_tag text_box_tag_1">
                    <span>#</span>
                    <span th:text="${market.type}"></span>
                </div>
            </nav>
        </li>
    </ul>
</div>
<!—footer—>
<footer th:replace="layout/footer.html"></footer>
</body>
</html>