<!--네비바(탑바)-->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>툴툴</title>
    <link rel="stylesheet" href="/market_form.css"/>
    <link rel="stylesheet" href="/layout/navbar_no.css"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
    $(document).ready(function () {
    $('#summernote').summernote({
    placeholder: '내용을 작성하세요',
    height: 400,
    maxHeight: 400
    });
    });

    </script>
</head>
<body>
<footer th:replace="layout/navbar_no.html"></footer>
<!--아래부터 폼 -->
<div layout:fragment="content" class="container">
    <form th:object="${marketForm}" method="post" class="form">
        <h1 class="my-3 border-bottom pb-2"><p>Market</p></h1>
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">가격</label>
            <input type="number" th:field="*{price}" class="form-control" placeholder=" 판매가격 (단위 : 원)" id="form2">

        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">브랜드명</label>
            <input type="text" th:field="*{brand}" class="form-control">
        </div>
        <div class="mb-3">
            <div class="season"><p>사용계절:</p></div>
            <select name=”season” id="season" th:field="*{season}">
                <option id="seasonmenu1" name=”season” value=사계>사계절</option>
                <option id="seasonmenu2" name=”season” value=하계>하계</option>
                <option id="seasonmenu3" name=”season” value=동계>동계</option>

            </select>

            <div class="season2"><p>용품종류:</p></div>
            <select name=”type” id=“type” th:field="*{type}">
                <option id="typemenu1" name=”type” value=텐트/타프>텐트/타프</option>
                <option id="typemenu2" name=”type” value=테이블>테이블</option>
                <option id="typemenu3" name=”type” value=의자>의자</option>
                <option id="typemenu4" name=”type” value=랜턴>랜턴</option>
                <option id="typemenu5" name=”type” value=조리도구>조리도구</option>
                <option id="typemenu6" name=”type” value=기타>기타</option>
            </select>
        </div>
        <div class="photo"><p>사진등록버튼구현예정</p></div>
        <div class="mb-3">
            <label for="content" class="form-label"><p>내용</p></label>
            <textarea sec:authorize="isAnonymous()" th:field="*{content}" id="summernote"
                      class="form-control" rows="10" th:if="${#authorization.expression('isAnonymous()')}"></textarea>
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" id="summernote"
                      class="form-control" rows="10"
                      th:if="${#authorization.expression('isAuthenticated()')}"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
<footer th:replace="layout/footer.html"></footer>
</body>
<!--footer-->
</html>