<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/MarketPage.css"/>
    <link rel="stylesheet" href="/layout/navbar.css"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
      var itemsPerPage = 9;
      var $items = $(".item");
      var totalPages = Math.ceil($items.length / itemsPerPage);
      var currentPage = 1;

      function showPage(page) {
        var startIndex = (page - 1) * itemsPerPage;
        var endIndex = startIndex + itemsPerPage;

        $items.hide();
        $items.slice(startIndex, endIndex).show();

        var pageNumbers = "";
        for (var i = 1; i <= totalPages; i++) {
          if (i === page) {
            pageNumbers +=
              '<a href="#" class="page-number active">' + i + "</a>";
          } else {
            pageNumbers += '<a href="#" class="page-number">' + i + "</a>";
          }
        }
        $(".page-numbers").html(pageNumbers);
      }

      function navigateToPreviousPage() {
        if (currentPage > 1) {
          currentPage--;
          showPage(currentPage);
        }
      }

      function navigateToNextPage() {
        if (currentPage < totalPages) {
          currentPage++;
          showPage(currentPage);
        }
      }

      $(".previous").on("click", function (e) {
        e.preventDefault();
        navigateToPreviousPage();
      });

      $(".next").on("click", function (e) {
        e.preventDefault();
        navigateToNextPage();
      });

      $(document).on("click", ".page-number", function (e) {
        e.preventDefault();
        var page = parseInt($(this).text());
        showPage(page);
      });

      showPage(currentPage);








    </script>
    <title>마켓 페이지</title>
</head>
<body>
<div th:replace="layout/navbar.html"></div>
<!--banner라인-->
<div class="banner__bar">
    <div class="banner__list">
        <div class="banner">
            <img src="/img/banner-1.png" alt=""/>
        </div>
        <div class="banner">
            <img src="/img/banner-2.png" alt=""/>
        </div>
        <div class="banner">
            <img src="/img/banner-3.png" alt=""/>
        </div>
    </div>
    <div class="buttons">
        <div class="button" data-index="0"></div>
        <div class="button" data-index="1"></div>
        <div class="button" data-index="2"></div>
    </div>
</div>
<div class="sorting-box">
    <div class="sorting">
        <div class="total_count">
            <p>총 <span th:text="${marketCount}"></span>건</p>
        </div>
        <div class="sorting_menu">
            <ul>
                <li>
                    <a href="?sort=createSort" class="Sort">
                        <span>최신순</span>
                    </a>
                </li>
                <li>
                    <a href="?sort=voterSort" class="Sort">
                        <span>찜 순</span>
                    </a>
                </li>

                <li>
                    <a href="?sort=rowPriceSort" class="Sort">
                        <span>낮은금액별</span>
                    </a>
                </li>
                <li>
                    <a href="?sort=highPriceSort" class="Sort">
                        <span>높은금액별</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="flex_box">
    <div class="categori_accordion">
        <!--write_box-->
        <div class="write_box">
            <button type="button">
                <a th:href="@{/market/create}">
                    <img src="https://i.postimg.cc/13HmB7VP/Vector.png"/>
                    <span>글쓰기</span>
                </a>
            </button>
        </div>
        <!--search_box-->
        <div class="search_box">
            <div class="input-group">
                <input type="text" id="search_kw" class="searchBox" th:value="${kw}" placeholder="검색">
                <button class="search_button" type="button" id="btn_search">
                    <img src="https://i.postimg.cc/tJ4CnLzY/Vector2.png">
                </button>
            </div>
        </div>
        <!--categori_accordion-->
        <div class="accordion">
            <div class="accordion-content">
                <div class="accordion-header_1">Market</div>
                <ul>
                    <li class="accordion">
                        <div class="accordion-header">Price</div>
                        <div class="accordion-content">
                            <ul class="accordion_ul">
                                <li>
                                    <button type="button"><a th:href="@{/market/under/15/sort}">0 ~ 15만원</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/under/30/sort}">15만원 ~ 30만원</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/under/50/sort}">30만원 ~ 50만원</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/under/100/sort}">그 외</a></button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion_list">
                        <div class="accordion-header">Season</div>
                        <div class="accordion-content">
                            <ul class="accordion_ul">
                                <li>
                                    <button type="button"><a th:href="@{/market/season_all/sort}">사계</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/season_summer/sort}">하계</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/season_winter/sort}">동계</a></button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion_list">
                        <div class="accordion-header">Type</div>
                        <div class="accordion-content">
                            <ul class="accordion_ul">
                                <li>
                                    <button type="button"><a th:href="@{/market/type_tent/sort}">텐트/타프</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/type_table/sort}">테이블</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/type_chair/sort}">의자</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/type_lanturn/sort}">랜턴</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/type_cook/sort}">조리도구</a></button>
                                </li>
                                <li>
                                    <button type="button"><a th:href="@{/market/type_etc/sort}">기타</a></button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content market_board_page">
        <!--1차이미지-->
        <div class="market_board_page_1">
            <ul id="marketItem">
                <li th:each="market, stat : ${paging}" th:if="${stat.index < 9}">
                    <nav class="item market_board_img">
                        <div th:if="${not #lists.isEmpty(market.filepaths)}">
                            <a th:href="@{|/market/detail/${market.id}|}">
                                <img th:src="${market.filepaths[0]}" class="market_board_main_img"/>
                            </a>
                        </div>
                        <div class="text_box_name text_box_name_1">
                            <a th:href="@{|/market/detail/${market.id}|}" th:text="${market.subject}"></a>
                        </div>
                        <div class="market_board_text_box">
                            <span>판매가격 : <span
                                    th:text="${market.price}">
                                        </span>원</span>

                        </div>
                        <div class="market_board_text_box_tag">
                            <span>#</span>
                            <span th:text="${market.type}"></span>
                            <span>,</span>
                            <span>#</span>
                            <span th:text="${market.brand}"></span>
                        </div>
                    </nav>
                </li>
            </ul>
        </div>
        <div class="pagination-1">
            <div class="pagination">
                <ul class="page-list">
                    <li th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="${paging.hasPrevious} ? @{|?page=${paging.number+1}|} : @{|?page=0|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages)}"
                        th:if="${page >= paging.number-3 and page <= paging.number+3}"
                        th:classappend="${page + 1 == paging.number} ? 'active'"
                        class="page-item">
                        <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </li>
                    <li th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link"
                           th:href="${paging.hasNext} ? @{|?page=${paging.number+1}|} : @{|?page=${paging.totalPages}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<form th:action="@{/market/list}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
</form>
<!--footer-->
<footer th:replace="layout/footer.html"></footer>
<script>
    $(document).ready(function() {
  // .pagination-2 내의 페이지 링크 클릭 이벤트 처리
  $('.sorting_menu a.Sort').on('click', function(e) {
    e.preventDefault(); // 기본 링크 동작 방지

    var pageUrl = `listCategory${$(this).attr('href')}`; // 클릭된 링크의 URL 가져오기

<!--    location.href = pageUrl;-->
<!--    console.log(pageUrl)-->
    // 업데이트된 내용을 가져오기 위해 AJAX 요청 생성
    $.ajax({
      url: pageUrl,
      method: 'GET',
      //dataType: 'text',
      success: function(response) {
       $('#marketItem').replaceWith(response);
      },
      error: function() {
        // AJAX 요청이 실패한 경우 에러 처리
        console.log('내용을 가져오는 중에 오류가 발생했습니다.');
      }
    });
  });
});














</script>

<!--banner script-->
<script>
      $(document).ready(function () {
        const banner__bar = $(".banner__bar");
        const banner__list = $(".banner__list");
        const banners = $(".banner");
        const buttons = $(".button");
        const slideWidth = banner__bar.width();
        let currentIndex = 0;
        let interval;

        banners.css("width", slideWidth + "px");
        banner__list.css("width", slideWidth * banners.length + "px");

        function moveSlide(index) {
          currentIndex = index;
          banner__list.animate(
            { marginLeft: "-" + slideWidth * currentIndex + "px" },
            500
          );
          buttons.removeClass("active");
          buttons.eq(currentIndex).addClass("active");
        }

        buttons.click(function () {
          const index = $(this).data("index");
          moveSlide(index);
        });

        interval = setInterval(function () {
          currentIndex++;
          if (currentIndex >= banners.length) {
            currentIndex = 0;
          }
          moveSlide(currentIndex);
        }, 3000);
      });












</script>
<script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});








</script>
</body>
</html>