<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>Mypage-mybookmarkList</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic%3A400%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
    <link rel="stylesheet" href="/mypage-mybookmarklist.css"/>
</head>
<body>
<div class="mypage-mybookmarklist">
    <div class="header-group">
        <img class="logo" src="./assets/logo-w8r.png"/>
        <div class="categorymenu">
            <div class="review">Review</div>
            <div class="market">Market</div>
            <div class="notice">Notice</div>
        </div>
        <div class="signout">
            <img class="exit" src="./assets/exit-1-KGi.png"/>
            <div class="signout">로그아웃</div>
        </div>
    </div>
    <p class="subtitle">MY ToolTool</p>
    <p class="mybookmarkCount">총 135건</p>
    <div class="mybookmarkGroup">
        <ul class="menulist">
            <li>
                <div class="mypage">내정보</div>
            </li>
            <li>
                <div class="mybookmarkList">찜 목록</div>
            </li>
            <li>
                <div class="myreviewList">내가 쓴 리뷰</div>
            </li>
            <li>
                <div class="mycommentList">내가 쓴 댓글</div>
            </li>
        </ul>
        <ul class="viewgroup">
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="view">
                    <div class="box">
                        <div class="img">
                            <a href="#"><img src="" width="301" height="166">
                            </a>
                            <p class="bookmark"><a href="#" onclick="; return false;"> </a></p>
                            <img class="heart" src="./assets/-m98.png"/>
                        </div>
                    </div>
                    <div class="viewinfo">
                        <div class="count">
                            <p class="commentCount">댓글수 574</p>
                            <p class="bestCount">추천수 4880</p>
                        </div>
                        <p class="title">
                            <a href="#">
                                스탠리 워터저그 수도꼭지 캠핑장비 3세대 신형 손잡이 사각판 누수방지 풀세트</a>
                        </p>
                        <p class="category">#기타</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<ul class="paging">
    <li></li>
    <li><strong>1</strong></li>
    <li></li>
</ul>
</ul>
</div>
</div>
</body>