<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/mypage.css"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <link rel="stylesheet" href="/layout/navbar.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/af580f77b6.js" crossorigin="anonymous"></script>
    <title>My툴</title>
</head>
<body>
<div class="my_page">
    <!--topbar-->
    <div th:replace="layout/navbar.html"></div>
    <!--secondbar-->
    <div class="my_page_second_bar">
        <div class="profile_img">
            <img
                    src="https://i.postimg.cc/m23RYKm6/product-box1.png"
                    class="profile_img_1"
            />
            <button class="change-icon">
                <span class="change-img">
                    <i class="fa-solid fa-image" style="color: #fff;"></i>
                </span>
            </button>
        </div>
        <div class="profile_nickname">
            <div class="nickname">
                <ul>
                    <li>
                        <span class="nick" th:text="${user.nickname}">닉네임</span>
                    </li>
                    <li>
                        <span>가입한 날짜 : </span>
                        <span th:text="${user.createDate}">가입일</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile_mark">
            <div class="mark_total_review">
                <ul>
                    <li class="list-1">
                        <span class="note-img">
                            <i class="fa-solid fa-pen-to-square" style="color: #000000;"></i>
                        </span>
                        <span>내가 쓴 리뷰</span>
                    </li>
                    <li>
                        <a href="#">
                            <span th:text="${articleCount}" class="count">articleCount</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile_mark">
            <div class="mark_total_review">
                <ul>
                    <li class="list-1">
                        <span class="note-img">
                            <i class="fa-solid fa-campground" style="color: #000000;"></i>
                        </span>
                        <span>내가 쓴 판매글</span>
                    </li>
                    <li>
                        <a href="#">
                            <span th:text="${marketCount}" class="count">marketCount</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--flex_box-->
    <div class="flex_box" layout:fragment="content">
        <!--menu_box-->
        <div class="menu_box">
            <ul>
                <li>
                    <span class="my_page">MY ToolTool</span>
                </li>
                <li>
                    <a href="#" data-page="menu1">
                        <span>내 정보</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-page="menu2">
                        <span>내가 쓴 리뷰</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-page="menu3">
                        <span>내가 쓴 판매글</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-page="menu4">
                        <span>찜 목록</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--content_box-->
        <div class="content_box">
            <div id="menu1" class="page page-1 menu_information">
                <div class="title">내 정보</div>
                <div class="underline"></div>
                <form>
                    <div class="form_group">
                        <label for="username">아이디</label>
                        <input th:placeholder="${user.username}" type="text" id="username" disabled/>
                    </div>
                    <div class="underline"></div>
                    <div class="form_group">
                        <label for="current-password">변경할 비밀번호</label>
                        <input type="password" id="current-password" th:value="${password1}"/>
                        <button type="button" id="change-password-btn">
                            비밀번호 변경
                        </button>
                    </div>
                    <div class="underline"></div>
                    <div class="form_group">
                        <label for="current-password">확인할 비밀번호</label>
                        <input type="password" id="confirm-password" th:value="${password2}"/>
                        <button type="button" id="save-password-btn" disabled>
                            완료
                        </button>
                    </div>
                    <div class="underline"></div>
                    <div class="form_group">
                        <label for="nickname">닉네임</label>
                        <input th:placeholder="${user.nickname}" type="text" id="nickname" th:value="${nickname}"
                               disabled/>
                        <button type="button" id="change-nickname-btn">
                            닉네임 변경
                        </button>
                        <button type="button" id="save-nickname-btn" disabled>
                            완료
                        </button>
                    </div>
                    <div class="underline"></div>
                    <div class="form_group">
                        <label for="email">이메일</label>
                        <input th:placeholder="${user.email}"
                               type="email"
                               id="email"
                               th:value="${email}"
                               disabled
                        />
                    </div>
                </form>
            </div>

            <div id="menu2" class="page menu_review">
                <div class="title">내가 쓴 리뷰</div>
                <div class="review_board_page_1">
                    <table class="review_board_table">
                        <tr>
                            <th class="number">게시글 번호</th>
                            <th>제목</th>
                            <th class="date">작성일</th>
                        </tr>
                        <tr th:each="article, stat : ${articlePaging}" th:if="${stat.index < 9}">
                            <td class="number" th:text="${article.id}"></td>
                            <td class="content"><a th:href="@{|/article/detail/${article.id}|}"
                                                   th:text="${article.subject}"></a></td>
                            <td class="date" th:text="${article.createDate}"></td>
                        </tr>
                    </table>
                </div>
                <div class="pagination-1">
                    <div class="pagination">
                        <ul class="page-list">
                            <li th:classappend="${!articlePaging.hasPrevious} ? 'disabled'" class="disabled">
                                <a class="page-link"
                                   th:href="${articlePaging.hasPrevious} ? @{|?page=${articlePaging.number-1}|} : @{|?page=0|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, articlePaging.totalPages)}"
                                th:if="${page >= articlePaging.number-3 and page <= articlePaging.number+3}"
                                th:classappend="${page == articlePaging.number} ? 'active'"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li th:classappend="${!articlePaging.hasNext} ? 'disabled'" class="disabled">
                                <a class="page-link"
                                   th:href="${articlePaging.hasNext} ? @{|?page=${articlePaging.number+1}|} : @{|?page=${articlePaging.totalPages}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div id="menu3" class="page menu_sale">
                <div class="title">내가 쓴 판매글</div>
                <div class="review_board_page_2">
                    <table class="market_board_table">
                        <tr>
                            <th class="number">게시글 번호</th>
                            <th>제목</th>
                            <th class="date">작성일</th>
                        </tr>
                        <tr th:each="market, stat : ${marketPaging}" th:if="${stat.index < 9}">
                            <td class="number" th:text="${market.id}"></td>
                            <td class="content"><a th:href="@{|/market/detail/${market.id}|}"
                                                   th:text="${market.subject}"></a></td>
                            <td class="date" th:text="${market.createDate}"></td>
                        </tr>
                    </table>
                </div>
                <div class="pagination-2">
                    <div class="pagination">
                        <ul class="page-list">
                            <li th:classappend="${!marketPaging.hasPrevious} ? 'disabled'" class="disabled">
                                <a class="page-link"
                                   th:href="${marketPaging.hasPrevious} ? @{|?page=${marketPaging.number+1}|} : @{|?page=0|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, marketPaging.totalPages)}"
                                th:if="${page >= marketPaging.number-3 and page <= marketPaging.number+3}"
                                th:classappend="${page == marketPaging.number+1} ? 'active'"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li th:classappend="${!marketPaging.hasNext} ? 'disabled'" class="disabled">
                                <a class="page-link"
                                   th:href="${marketPaging.hasNext} ? @{|?page=${marketPaging.number+1}|} : @{|?page=${marketPaging.totalPages}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div id="menu4" class="page menu_pick">
                <div class="title">찜 목록</div>
                <table>
                    <tr>
                        <th class="number">게시글 번호</th>
                        <th>제목</th>
                        <th class="date">작성일</th>
                    </tr>
                    <tr>
                        <td class="number">1</td>
                        <td class="content"><a href="#">여름 휴가 계획</a></td>
                        <td class="date">2023-06-01</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer th:replace="layout/footer.html"></footer>
</div>
<script>
  $(document).ready(function() {
    // Handle click event for '.pagination-1' page links
    $('.pagination-1 a.page-link').on('click', function(e) {
      e.preventDefault(); // Prevent default link behavior

      var pageUrl = $(this).attr('href'); // Get the URL of the clicked link

      // Create an AJAX request to fetch updated content
      $.ajax({
        url: pageUrl,
        method: 'GET',
        success: function(response) {
          // Extract the updated content from the response
          var updatedContent = $(response).find('.review_board_table').html();

          // Replace the existing table content
          $('.review_board_table').html(updatedContent);
        },
        error: function() {
          // Handle error when AJAX request fails
          console.log('An error occurred while fetching the content.');
        }
      });
    });

    // Handle click event for '.pagination-2' page links
    $('.pagination-2 a.page-link').on('click', function(e) {
      e.preventDefault(); // Prevent default link behavior

      var pageUrl = $(this).attr('href'); // Get the URL of the clicked link

      // Create an AJAX request to fetch updated content
      $.ajax({
        url: pageUrl,
        method: 'GET',
        success: function(response) {
          // Extract the updated content from the response
          var updatedContent = $(response).find('.market_board_table').html();

          // Replace the existing table content
          $('.market_board_table').html(updatedContent);
        },
        error: function() {
          // Handle error when AJAX request fails
          console.log('An error occurred while fetching the content.');
        }
      });
    });

    // Handle profile picture change
    $(".change-icon").click(function() {
      // Create a "file" type input element
      var inputFile = $('<input type="file">');

      // Trigger click event on the input element
      inputFile.trigger("click");

      // When a file is selected
      inputFile.change(function() {
        var file = this.files[0];

        if (file) {
          var reader = new FileReader();

          // Read the file as a data URL
          reader.readAsDataURL(file);

          // When the file is loaded
          reader.onload = function(e) {
            // Update the profile image with the selected file
            $(".profile_img_1").attr("src", e.target.result);
          };
        }
      });
    });

    // Handle menu box navigation
    $(".menu_box a").click(function(e) {
      e.preventDefault();
      var pageId = $(this).data("page");
      $(".page").hide();
      $("#" + pageId).show();
    });

    // Handle change password functionality
    $("#change-password-btn").click(function() {
      if (!$("#current-password").is(":disabled")) {
        $("#current-password").prop("disabled", true);
        $("#save-password-btn").prop("disabled", true);
      } else {
        $("#current-password").prop("disabled", false);
        $(this).prop("disabled", true);
        $("#save-password-btn").prop("disabled", false);
      }
    });

    $("#save-password-btn").click(function() {
      $("#current-password").attr("disabled", true);
      $(this).attr("disabled", true);
      $("#change-password-btn").removeAttr("disabled");
    });

    // Handle change nickname functionality
    $("#change-nickname-btn").click(function() {
      $("#nickname").removeAttr("disabled");
      $(this).attr("disabled", true);
      $("#save-nickname-btn").removeAttr("disabled");
    });

    $("#save-nickname-btn").click(function() {
      var newNickname = $("#nickname").val();

      $.ajax({
        url: "/mypage/changeNickname",
        type: "POST",
        data: {
          newnickname: newNickname
        },
        success: function(response) {
          window.location.href = response;
        },
        error: function(xhr, status, error) {
          console.log("닉네임 변경 실패: " + error);
        }
      });
    });
  });

</script>
</body>
</html>