<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="NoticeDetail.css"/>
    <link rel="stylesheet" href="/layout/navbar.css"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>공지사항</title>
</head>
<body>
<div th:replace="layout/navbar.html"></div>
<div class="container">
    <span>공지사항</span>
    <div class="notice">
        <div class="notice-subject">
            <table>
                <tr>
                    <th>제 목</th>
                    <td>asdasdaasdasdasdasdasdasdsadsd</td>
                </tr>
                <tr>
                    <th>작 성 자</td>
                    <td>asdasd</td>
                </tr>
                <tr>
                    <th>작 성 일</td>
                    <td>asdasd</td>
                </tr>
            </table>
        </div>
        <div class="underline"></div>
        <div class="notice-content">
          <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
            architecto, ullam tenetur, eveniet labore ea quibusdam, ex quod
            libero illo tempora voluptate? Tempora eaque vero dolore porro in,
            quae magni!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
            architecto, ullam tenetur, eveniet labore ea quibusdam, ex quod
            libero illo tempora voluptate? Tempora eaque vero dolore porro in,
            quae magni!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
            architecto, ullam tenetur, eveniet labore ea quibusdam, ex quod
            libero illo tempora voluptate? Tempora eaque vero dolore porro in,
            quae magni!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
            architecto, ullam tenetur, eveniet labore ea quibusdam, ex quod
            libero illo tempora voluptate? Tempora eaque vero dolore porro in,
            quae magni!</span>
        </div>
        <div class="button">
            <div>
                <button type="button"><a href="#">이전글</a></button>
            </div>
            <div>
                <button type="button"><a href="#">다음글</a></button>
            </div>
            <div class="button_3">
                <button type="button"><a href="#">목록</a></button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/footer.html"></footer>
</body>
</html>
