<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/NoticeWriter.css"/>
    <title>공지사항</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h1>공지사항 글쓰기</h1>
    <form th:object="${noticeForm}" method="post" class="form">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <label for="subject">제목</label>
        <input type="text" id="subject" name="subject" th:field="${noticeForm.subject}" placeholder="제목을 입력하세요">

        <label for="content">내용</label>
        <textarea id="content" name="content" th:field="${noticeForm.content}" placeholder="내용을 입력하세요"></textarea>
        <div class="button">
            <input type="submit" value="작성">
            <button type="button"><a href="#">취소</a></button>
        </div>
    </form>
</div>
</body>
</html>
