<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/NoticeDetail.css"/>
    <link rel="stylesheet" href="/layout/navbar_no.css"/>
    <link rel="stylesheet" href="/layout/footer.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>공지사항</title>
</head>
<body>
<div th:replace="layout/navbar_no.html"></div>
<div class="container">
    <span>공지사항</span>
    <div class="notice">
        <div class="notice-subject">
            <table>
                <tr>
                    <th>제 목</th>
                    <td th:text="${notice.subject}"></td>
                </tr>

                <tr>
                    <th>작 성 일</th>
                    <td th:text="${notice.createDate}"></td>
                </tr>
            </table>
        </div>
        <div class="underline-1"></div>
        <div class="notice-content">
            <span th:text="${notice.content}"></span>
        </div>
        <div class="underline-2"></div>
        <div class="button">
            <div class="button_3">
                <button type="button"><a th:href="@{/notice/list}">목록</a></button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/footer.html"></footer>
</body>
</html>