<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/UserSearch.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>UserSearch</title>
</head>

<body>
<!-- 네비바 -->
<div class="top__bar">
    <nav class="top__bar_menu">
        <div class="logo_box">
            <ul>
                <li>
                    <a href="http://localhost:8080/">
                        <button type="button" class="logo_button">
                            <img src="국기수업_중프[툴툴]/디자인/툴툴1.png"/>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main_menu">
            <ul class="main_menu_ul">
                <li>
                    <a href="http://localhost:8080/article/list">
                        <span class="review">Review</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8080/market/list">
                        <span class="market">Market</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8080/notice/list">
                        <span class="notice">Notice</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="signLine">
            <div class="signIn">
                <a href="http://localhost:8080/user/login">
                    <button type="button" class="signIn_button">
                        <img src="img/sign in.png" class="signIn_img"/>
                    </button>
                </a>
            </div>
            <div class="signUp">
                <a href="http://localhost:8080/user/signup">
                    <button type="button" class="signUp_button">
                        <img src="img/sing up.png" class="signUp_img"/>
                    </button>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- 중앙 -->
<div layout:fragment="content" class="">
    <form onsubmit="return false;">
        <div>
            <h1 class="find">Find ID</h1>
            <h3 class="findment">가입하신 정보를 입력해주세요</h3>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">이메일을 다시 확인해 주세요.</div>
        </div>
        <div class="mb-3">
            <input type="email" name="email" id="email" class="form-control" placeholder="이메일"/>
        </div>
        <button type="button" onclick="sendEmailForId()" class="btn btn-primary">FIND-ID</button>
    </form>
    <form class="usersearchform" method="post">
        <div>
            <h1 class="find">Find PW</h1>
            <h3 class="findment">가입하신 정보를 입력해주세요</h3>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                가입하신 정보를 다시 확인해 주세요.
            </div>
        </div>
        <div class="mb-3">
            <input type="text" name="userName" id="userName" class="form-control"
                   placeholder="아이디"/>
        </div>
        <div class="mb-3">
            <input type="email" name="userEmail" id="userEmail" class="form-control" placeholder="이메일"/>
        </div>
        <button type="submit" id="sendTempPw" onclick="sendTempPw()" class="btn btn-primary">임시 비밀번호 전송</button>
    </form>
</div>
</body>
<script>

 function sendEmailForId() {
        // 이메일 주소 가져오기
        var email = $("#email").val();
        console.log(email);
        // AJAX 요청 보내기
        $.ajax({
            url: "/user/findId", // 이메일 인증번호를 보낼 서버의 URL
            method: "POST",
            data: {email: email}, // 이메일 주소를 서버로 전달
            success: function(response) {
                alert("아이디 발송 성공.");
            },
            error: function(xhr, status, error) {
                alert("아이디 발송 실패.");
            }
        });
    }

    function sendTempPw() {
    // 이메일 주소 가져오기
    var userEmail = $("#userEmail").val();
    var userName = $("#userName").val();

    // AJAX 요청 보내기
    $.ajax({
        url: "/user/findPw", // 이메일 인증번호를 보낼 서버의 URL
        method: "POST",
        data: {userEmail: userEmail, userName: userName}, // 이메일 주소를 서버로 전달
        success: function(response) {
            alert("임시 비밀번호 발송 성공.");
        },
        error: function(xhr, status, error) {
            alert("임시 비밀번호 발송 실패.");
        }
    });
}
















</script>
</html>
